<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jayden.ifkakaoclone">
    <!--
         안드로이드 11부터 내 앱이 아닌 다른 패키지를 찾거나 다른 패키지의 액티비티를 실행하려면 queries로 의존적인 패키지명을
         추가해야 한다.
         이것을 구현하지 않으려면, QUERY_ALL_PACKAGES 퍼미션을 선언하면 되긴 한다.
    -->
    <queries>
        <package android:name="com.kakao.talk" />
        <package android:name="com.facebook.katana" />
    </queries>

    <!-- 일반 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 위험 권한 -->
    <!-- Step 1. Declare the runtime permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IfKakao">
        <activity android:name=".view.permission.PermissionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.file.TestFileAccessActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>